
.unhighlight_tab {
    width: 15%;

    font-size: 1.7vw;
    color: white;
    background-color: rgb(71, 71, 71);

    border: none;
    outline: none;

    cursor: pointer;
}

.highlight_tab {
    width: 15%;

    font-size: 1.7vw;
    color:black;
    background-color: white;

    border: none;
    outline: none;

    cursor: pointer;
}