
.sidebar_container {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 2;

    top: 0px;
    left: 0px;

    background-color: red;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.5s ease 0s;
}

.sidebar_btn {

    position: fixed;
    z-index: 1;

    top: 0px;
    right: 0px;

    font-size: 2.0vw;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 30px;
    border: none;
    background-color: rgb(51, 51, 51);
    outline: none;
    cursor: pointer;
}

